<div class="contenedor rectangle">
  <h1 class="texto">Mantenete en contacto</h1>
</div>
<section class="container">
  <div class="row">
    <div class="col-auto">
      <p class="lead">
        Si tienes alguna duda o quieres contactarme, puedes hacerlo a través de
        cualquiera de las siguientes redes sociales:
      </p>
      <div class="row">
        <div class="col-md-4">
          <h1>
            <a href="https://www.linkedin.com/in/luca-terzariol-63711239/">
              <fa-icon [icon]="faLinkedinIn"></fa-icon>
            </a>
          </h1>
        </div>
        <div class="col-md-4">
          <h1>
            <a href="https://github.com/Teradriel">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a>
          </h1>
        </div>
        <div class="col-md-4">
          <h1>
            <a href="mailto:inglterzariol@gmail.com">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
