<section>
  <div class="contenedor rectangle">
    <h1 class="texto">Sobre mí y este proyecto</h1>
  </div>
  <div>
    <p>
      Desde chiquito me interesó todo lo relacionado con la informática. La
      primera computadora de la familia tenía Windows 3.1 que iniciaba con DOS,
      y teníamos que aprender a usar las líneas para iniciar el entorno visual.
      Esto me ayudó para más adelante entender qué estaba pasando detrás del
      escritorio. En ese entorno jugaba con clásicos como "The Incredible
      Machine", "Age of Empires", "Dónde está Carmen SanDiego", entre otros.
    </p>
    <p>
      Más adelante, cuando estaba en la secundaria, el mundo de las computadoras
      se me hizo más accesible. Coincidió con el avance explosivo de la
      industria de los videojuegos, al cual no le ofrecí resistencia alguna.
    </p>
    <p>
      Durante esta época empecé también a aprender una de mis mayores aficiones,
      la batería. Tuve varias bandas de garage con amigos simplemente por
      diversión, hasta que empecé la universidad y me alejé un poco de los dos
      mundos que me apasionaban hasta ese momento, la música y la informática.
    </p>
    <p>
      No para amargarme la vida, sino todo lo contrario: encontré otra cosa que
      no sabía que me iba a dar muchas alegrías. Empecé a estudiar lo que me
      define desde hace ya algunos años: la ingeniería química. Como la mayoría
      de los estudiantes en Córdoba "me tomé mi tiempo para recibirme, para
      aprender bien los temas dados" (pfff, a veces me gusta mentirme solo).
      Pude trabajar de lo que estudié, aunque al principio no lo entendí a la
      primera. Este recorrido me enseñó que la perseverancia es la mejor amiga
      que podés tener.
      <q>Seguí confiando en los NFT, algún día vas a ser rico</q>
    </p>
    <p>
      Mientras cursaba mi hermosa carrera, tuve la oportunidad de seguir
      conociendo la industria de los videojuegos hasta que encontré la
      <a href="https://es.wikipedia.org/wiki/Clave_(arquitectura)">clave</a>
      (según mis gustos) de los juegos del mundo mundial, el
      <a href="https://www.guildwars2.com/">Guild Wars 2</a>. Podría pasar días
      explicando todo lo que podés hacer en ese maravilloso universo. Esta obra
      de arte me enseñó que se puede llegar alto sin necesidad de ser el más
      competitivo, ni el más habilidoso, ni el más inteligente. Tal como en la
      vida real. La gente exitosa llegó a ese punto en su vida porque nunca se
      dio por vencida. Los extraordinarios son los menos; el resto la tenemos
      que remar, pero vamos a llegar, estoy seguro.
    </p>
    <p>
      Todo este manuscrito para llegar al presente y explicar el por qué de este
      proyecto, donde volví a tomar las cartas en el asunto y me di el tiempo de
      aprender las herramientas del futuro: la Programación. Comencé con un
      lenguaje cómodo y sencillo de entender como lo es Angular y JAVA. Después
      logré terminar un curso de PHP y base de datos.
    </p>
    <p>
      Ahora espero a ver qué me depara el futuro, ya que ninguno de los
      capítulos está cerrado todavía.
    </p>
    <h5>
      Así que ¡ánimo!, estimado lector que llegó a este punto de la página.
      <br />
      ¡Todo se puede lograr!
    </h5>
  </div>
</section>
