<div class="contenedor rectangle">
  <h1 class="texto">Proyectos</h1>
</div>
<section>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Task List:
        <span class="text-muted">Angular</span>
      </h2>
      <p class="lead">
        Desarrollado con Angular 14, este proyecto es una lista de tareas que
        permite agregar, eliminar y editar tareas. Indepentemente de la página
        en la que se encuentre, la información se guarda en IndexedDB del
        navegador.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/task-list.png"
        alt="Angular"
        width="200"
        height="200"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        BackEnd:
        <span class="text-muted">JAVA y PHP</span>
      </h2>
      <p class="lead">
        JAVA es la base para prácticamente todos los tipos de aplicaciones de
        red, además del estándar global para desarrollar y distribuir
        aplicaciones móviles y embebidas, juegos, contenido basado en web y
        software de empresa.
      </p>
      <p class="lead">
        PHP (acrónimo recursivo de PHP: Hypertext Preprocessor ) es un lenguaje
        de código abierto muy popular especialmente adecuado para el desarrollo
        web y que puede ser incrustado en HTML.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="" alt="" />
    </div>
  </div>
  <hr class="featurette-divider" />
</section>
