<div class="contenedor rectangle">
  <h1 class="texto">Proyectos</h1>
</div>
<section>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Lista de tareas:
        <span class="text-muted">Angular</span>
      </h2>
      <p class="lead">
        Desarrollado con Angular 14, este proyecto es una lista de tareas que
        permite agregar, eliminar y editar tareas. Indepentemente de la página
        en la que se encuentre, la información se guarda en IndexedDB del
        navegador.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/images/task-list.png"
        alt="Angular"
        width="200"
        height="200"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Bitácora:
        <span class="text-muted">Angular + MySQL + JAVA</span>
      </h2>
      <p class="lead">
        Guarda las memorias de tus viajes, usalo como diario o como recordatorio
        de tus viajes. Este proyecto fue desarrollado con Angular 14, MySQL y
        Java.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/logbook.png"
        alt="logbook"
        width="200"
        height="200"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
</section>
